@model IEnumerable<Nexus_Communication_System.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Service</th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Customer?.Customer_Name
            </td>
            <td>
                    @item.Service?.Service_Name
            </td>
            <td>
                @Html.DisplayFor(model => item.Employee_ID)
            </td>
            <td>
                @Html.DisplayFor(model => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.Payment_Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.Amount)
            </td>
                <td>
                    <a asp-action="AssignEmployee"
                       asp-route-id="@item.Order_ID">
                        Assign Employee
                    </a>
                    |
                    <a asp-action="Details"
                       asp-route-id="@item.Order_ID">
                        Details
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
